<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>NASA Rovers</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <img class="nasa-logo" src="/nasa-logo.png" alt="Nasa Logo" />
    <div class="rovers-output">
      <h2>NASA Instructions Accepted</h2>
      <p>Check NASA NodeJS Console</p>
    </div>
  </body>
</html>
